{% extends 'base.html.twig' %}

{% block title %}cart{% endblock %}

{% block body %}
    <!-- Cart Area Start -->
    <div class="cart-main-area pt-100px pb-100px">
        <div class="container">
            <h3 class="cart-page-title">Your cart items</h3>
            <div class="row mx-2 mx-lg-0">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    {% if cart is empty %}
                        <p>
                            <i class="fa fa-exclamation-triangle text-warning"></i> Your cart is empty !
                        </p>
                    {% endif %}
                    {% for item in cart %}
                        <div class="row border rounded p-3 mb-3">
                            <div class="col-6 col-md-3 col-lg-3">
                                <img src="/uploads/{{ item['product'].image }}" alt="" class="img-fluid">
                            </div>
                            <div class="col-6 col-md-9 col-lg-9">
                                <h6>{{ item['product'].name }}</h6>
                                <p class="small mb-0">Price : ${{ item['product'].realPrice }}</p>
                                <p class="small mb-0">Qty : {{ item['qty'] }}</p>
                                <input type="number" name="" id="" class="form-control ps-3 pe-2" min="1" style="width: 100px" value="{{ item['qty'] }}">
                                <p class="small mb-0">Sub-total : ${{ item['sub-total'] }}</p>
                                <p>
                                    <a href="{{ path('app_cart_remove', {id: item['product'].id}) }}" class="text-danger">
                                        <i class="fa fa-trash-alt"></i> Remove
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-md-12 mt-md-30px">
                    <div class="grand-totall">
                        <div class="title-wrap">
                            <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                        </div>
                        <h5>Total products <span>${{ cart_info['amount'] }}</span></h5>
                        <h4 class="grand-totall-title">Grand Total <span>${{ cart_info['amount'] }}</span></h4>
                        <a href="{{ path('app_order_checkout') }}">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Area End -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/cart.js') }}"></script>
{% endblock %}